DATABASE_URL="postgres://nome:senha@host:porta/db"
JWT_SECRET="segredo"
DISCORD_TOKEN = "token do discord"
WEBSITE_DOMAIN="https://nomedosite.com"
API_PORT="1234"
DISCORD_OAUTH_ID="id do bot (talvez você não use o mesmo bot do DISCORD_TOKEN)"
DISCORD_OAUTH_SECRET="oauth secret do bot"
BASIC_WEBHOOK_URL="webhook para enviar logs de enviar bot"
MOD_WEBHOOK_URL="webhook para enviar logs de votos, comentários, edições de bots, edições de perfil, ..."